@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1366px;
  font-family: sans-serif,poppins;
  overflow: hidden;
}

/* navbar */
.navbar{
  width:100%;
  height: 60px;
  background-color: #2bbbad;
  color: white;
  padding: 10px;
  font-size: 17px;
  display: flex;
  gap: 15px;
  font-weight: 300;
}

.sms-item{
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 8px ;
  margin-left: 10px;
}

.list{
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.list-item1 ul{
  display: flex;
  gap: 20px;
  list-style: none;
}

.list-item1 a{
  text-decoration: none;
  color: white;
}

.list-item2 ul{
  list-style: none;
  margin-left: 780px;
}

.list-item2 a{
  margin-left: 5px;
  font-size: 17px;
  text-decoration: none;
  color: white
  ;
}

.fa-user {
  font-size: 15px;
}

/* hero sections */

.landing-page{
  padding: 30px 0;
  width: 100%;
  height:580px;
  background: linear-gradient(-45deg, #3923a7 50%, transparent 50%);
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}
.row{
  display: flex;
  margin: 50px 0;
}

/* left section */
.left-row{
  padding: 20px;
  margin:30px 0;
  width: 50%;
}
.heading{
  font-size: 4.5rem; 
  font-weight: 700;
  margin-bottom: 16px;
}
.left-row p{
  padding: 20px 0;
  margin-bottom: 16px;
  line-height: 1.5rem;
}
.btn{
  width: 30%;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  background-color:#4285f4;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
}

.btn:hover{
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}
.btn a{
   text-decoration: none;
   color:#fff;
}

/* right section */

.right-row{
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  background-color: #ffffff;
  margin: 0 108px 50px 108px;
  width: 400px;
  padding: 30px;
  border-radius: 10px;
}

.inquery-form h3{
  text-align: center;
  font-size: 30px;
  margin-top: 5px; 
}

/* form */

form{
  margin-top:15px;
}

form .txt-felid{
  position: relative;
  border-bottom: 2px solid  #adadad;
  margin: 30px 0;
}

.txt-felid input{
  width: 100%;
  padding: 0 5px;
  height: 30px;
  font-size: 1rem;
  border: none;
  outline: none;
  background: none;
}

.txt-felid label{
  position: absolute;
  top: 55%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
}

.txt-felid input:focus ~ label,
.txt-felid input:valid ~ label{
  top: -7px;
  color: #2691d9;
}
.txt-felid textarea:focus ~ label,
.txt-felid textarea:valid ~ label{
  top: -7px;
  color: #2691d9;
}
.txt-felid textarea{
  border: none;
  width: 100%;
  outline: none;
  height: 40px;
}
.submit-btn{
  width: 100%;
  height: 45px;
  padding: 10px;
  background-color: #4285f4;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
}

.submit-btn:hover{
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}

/* about sections */

.about{
 padding: 50px 0;
}
 .about-info{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 60px;
  display: flex;
 }
 .information{
  width: 50%;
  padding: 3rem 1rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
 }
 .information h2{
  font-size:2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  color: #212529;
    text-align: left;
 }

 .information p{
  color:  #6c757d;
  font-size: 16px;
  margin-bottom: 10px;
 }

 .know-more-btn{
    width: 150px;
    height: 50px;
    padding: 5px;
    align-items: center;
    font-size: 14px;
    outline: none;
    border: none;
    margin-top: 15px;
    background:  #a6c;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
 }
 .know-more-btn:hover{
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
 }

 .know-more-btn a{
  text-decoration: none;
  color: #fff;

 }
.information-img{
  width: 50%;
  padding: 20px 137px 20px 0;
}

.information-img img{
  width: 550px;
  height: 450px;
  border-radius: 3px;
}

/* courses sections */

.courses{
  padding: 50px 0;
  background-color: #e0e0e0;
}

.course-text{
  margin-bottom: 50px;
}

.course-text h2{
  text-align: center;
   font-size: 2rem;
   font-weight: 700px;
   margin-bottom: 0.5rem;
   line-height: 1.2;
}

.course-text p{
  text-align: center;
  color: #6c757d;
  margin-bottom: 1rem;
}

.row-section{
  padding: 0 15px;
  margin: 20px 40px;
  display: flex;
   justify-content: space-between;
}
.card1{
  width: 270px;
  height: 350px;
  background-color:#ffffff;
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  border-radius: 7px;
}

.course-image{
  width: 100%;
  height: 200px;
  border-radius: 7px;
}

.card-body{
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  line-height: 1.5;
}
.card-text{
  color: #747373;
  font-size: .9rem;
}
.enroll-btn{
  width: 100%;
  background-color: #4285f4;
  color: #fff;
  margin: 10px 0;
  outline: none;
  border: none;
  height: 30px;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
}
.enroll-btn:hover{
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}

/* teacher section */

.tech-section{
  margin-top: 55px;
}

.teachers-container{
  margin: 80px 50px;
  display: flex;
  justify-content: space-around;
}
.teachers-row{
  width: 350px;
  height: 200px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
  border-radius: 3px;
  background-color:#ffffff;
 
}
.tech-img-card img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 1px solid #747373;
  margin: -45px 0 0 15px;
}
.tech-info{
 padding: 20px 20px;
}

.tech-info h5{
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #747373;
  font-weight: 300;
}
.tech-info p{
  color: #747373;
  font-size: 1rem;
}

/* Acheivements sections  */


.acheivement-section{
  padding: 50px 0;
  background:#3923a7;
}

.achiv-container{
  margin: 0 50px;
}

.achiv-row{
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.achiv-text{
  width: 50%;
  color: #fff;
  padding: 18px;
}

.achiv-text h2{
  font-size: 2rem;
  margin-bottom: 10px;
}

.achiv-text p{
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}
.achiv-text img{
  width: 550px;
  height: 340px;
  align-items: center !important;
  margin-top: 10px;
  border-radius: 3px;
}

.achiv-qulifections{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.education{
  width: 250px;
  border: 1px solid #fff;
  height: 200px;
  padding: 25px;
  border-radius: 2px;
  color: #fff;
  margin-bottom: 10px;

}

.education{
  margin-bottom: 10px;
}
hr{
  color: #f5d312;
}
.educ-card h2{
  text-align: center;
  margin: 0 0 10px 0;
}
.educ-card h4{
  text-align: center;
  margin: 10px 0 0 0;
  font-size: 1.5rem;
}

/* footer section */

.footer-section{
  padding:40px 0;
  width: 100%;
   height: 350px;
  display: flex;
  justify-content: space-between;
  background: #000000bb;
  color: #fff;
}

.back-image{
  background-image: url("../images/study.jpg");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}
.userful{
  width: 350px;
  font-size: 1rem;
}

.userful a{
  text-decoration: none;
  color: #fff;
}

.userful li{
  margin-top: 10px;
}
.social-section{
  width: 350px;
}
.social-icons{
  margin-top: 13px;
}

.fab {
  color: #000;
}
.review{
  width: 350px;
  margin-right: 100px;
}
.footer-section h5{
  font-size: 1.3rem;
  margin: 10px;
  font-weight: 400;
}

.review-text{
  border: 1px solid #747373;
  width: 70%;
  padding: 5px;
  border-radius: 4px;
}
.review-btn{
  width: 70%;
  height: 45px;
  padding: 10px;
  background-color: #4285f4;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 8px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #212529;
  color: #fff;
  padding: 10px;
}

.footer p{
  margin-top: 13px;
  text-align: center;
  font-size: 1.2rem;
}


/* login form here code */

.center{
  background: #adadad;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.main{
  width: 300px;
  height: 350px;
  background:#fff;
  text-align: center;
  border-radius: 10px;
}

.user-pic{
  width: 60px;
  height: 60px;
  background: #fff;
  text-align: center;
  border-radius: 50px;
  padding: 8px;
  border: 1px solid  #adadad;
  margin: 30px 0 0 115px
}

.user-pic i{
  font-size: 2rem;
  color:  #adadad;
}
.main form {
 padding: 0 40px;
}

form .text-felid{
  position: relative;
  border-bottom: 2px solid  #adadad;
  margin: 30px 0;
}

.text-felid input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 1rem;
  border: none;
  outline: none;
  background: none;
}

.text-felid label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;

}

.text-felid input:focus ~ label,
.text-felid input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.login-btn{
  text-align: center;
}

.login-btn button a{
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
.login-btn button{
  width: 70%;
  height: 40px;
  outline: none;
  border: none;
  background-color: #a6c;
  border-radius: 3px;
  box-shadow: 0px 2px 8px #757575;
  cursor: pointer;
}


/* Dashboard css */

.sidebar{
  display: flex;
}

/* left sidebar  */
.left-sidebar{
  flex-basis: 20%;
  background-color: #343a40;
  position: sticky;
  top: 0;
  left: 0;
  overflow: hidden;
}

.student-panel{
width: 100%;
height: 50px;
border-bottom: 1px solid #adadad;

}
.student-panel a{
  color: #adadad;
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
}

.student-panel span{
  display: block;
  margin-top: -15px;
}

.left-dashboard {
  padding: 0px 8px;
  height: 100%;
  width: 100%;
  margin-top: 0.5rem;
  font-size: 2rem;
}

.nav-icon{
  margin: 0 10px 0 9px;
 font-size: 1.5rem;

}

.right{
 margin-left:10px;
 margin-top: 3px;
 position: absolute;
 top: 0.7rem;
 right: 1rem;

}

.left-dashboard ul{
  list-style: none;
}

.left-dashboard ul li{
  width: 100%;
  line-height: 1.5rem;
  padding: 5px;
  position: relative;
}
.left-dashboard ul a{
  text-decoration: none;
  color: #c2c7d0;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  padding: 5px;
  margin-bottom: 0.2rem;
 }
 
 .left-dashboard ul li:hover {
  background-color: rgba(255,255,255,.1);
  color: #fff;
  border-radius: 5px;
 }













/* right side bar  */
.right-sidebar{
 flex-basis: 80%;
 width: 100%;
 height: 100vh;
}

/* admin navbar  */
.admin-nav{
  display: flex;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  background-color: #fff;
  border-bottom: 1px solid #dee2e6;
  position: fixed;
}
.admin-nav ul{
  display: flex;
  list-style: none;
  font-size: 1rem;
  justify-content: space-between;
  gap: 25px;
  padding-left:5px ;
}
.admin-nav ul a{
  text-decoration: none;
  color:#757575;
}
.nav-link2{
  margin-left: 740px;
}
.fa-sign-out-alt{
  margin-left: 5px;
}
/* content sections*/

.content-header{
  margin: 51px 0 0 0;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  color: #777;
  font-size: 1rem;
  width: 100%;
}

.header-txt2 ol{
  display: flex;
  list-style: none;
  gap: 5px;
 padding: 5px;
}

.header-txt2 ol a{
  text-decoration: none;
}

.content{
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #f7ffff;
}

.content-row{
  display: flex;
  /* justify-content: space-between; */
  gap: 22px;
  padding: 5px;
  margin-top: 15px;
}

.content-info{
  width: 231px;
  height: 75px;
  background-color:#fff;
  box-shadow: 0 1px 8px #777; border-radius: 10px;
  display: flex;
  padding: 8px;
  gap: 5px;
}
.cap{
  border-radius: 0.25rem;
  align-items: center;
  display: flex;
  font-size: 1.875rem;
  justify-content: center;
  text-align: center;
  width: 65px;
  color: #fff;
  background-color: #2691d9;
}

.student{
  margin-left: 10px;
}

.student-info{
  padding: 7px;
}
.info-box{
  color: #777;
  margin-bottom: 4px;
  display: block;
}
.info-box-number{
   color: #000;
   font-weight: 600;
}

.teacher-icons{
  border-radius: 0.25rem;
  align-items: center;
  display: flex;
  font-size: 1.875rem;
  justify-content: center;
  text-align: center;
  width: 65px;
  color: #fff;
  background-color:#dc3545;
}
.teacher-info{
  padding: 7px;
}

.course-icon{
  border-radius: 0.25rem;
  align-items: center;
  display: flex;
  font-size: 1.875rem;
  justify-content: center;
  text-align: center;
  width: 65px;
  color: #fff;
  background-color: #28a745;
}
.course-info {
  padding: 7px;
}
.questions-icon{
  border-radius: 0.25rem;
  align-items: center;
  display: flex;
  font-size: 1.875rem;
  justify-content: center;
  text-align: center;
  width: 65px;
  color: #fff;
  background-color: #ffc107;
}
.inquiries-info{
  padding: 7px;
}


.admin-footer{
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 12px;
  background-color:#fff;
  font-size: 1.2rem;
  box-shadow: 0 1px 6px #777;
  z-index: 1038;
}

.admin-footer a{
  text-decoration: none;
  color: #2691d9;
}